# Binaries
/bin/

# Local configuration overrides
*.local.toml

# Allow local override configs within the test suite fixtures
!test/configs/**/*.local.toml

# Bazel artifacts
/bazel-*

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
coverage.xml

# Java
target/
*.class

# Node / TypeScript
node_modules/
dist/

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
